html body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
}

.counter-container {
    width: 600px;
    height: 300px;
    background-color: #2e3131;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 3fr 1fr; /* 2fr 1fr */
}

.counter {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: 2em;
    font-weight: 300;
    color: #ff4d4d;
}

.reset-button-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.counter-button {
    font-size: 80%;
    font-weight: 100;
    color: #99ffbb;
    width: 90%;
    height: 60%;
    background-color: #252727;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 0px #99ffbb;
    letter-spacing: 1px;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-property: all;
}

.counter-button:hover {
    box-shadow: 0px 0px 0px;
    transform: translateY(4px);
}

.start-button-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.seconds-input-container {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.seconds-input {
    width: 80%;
    height: 60%;
    padding-left: 5px;
    font-size: 100%;
    border: none;
    box-shadow: inset 0px 0px 4px #1c1c21;
    box-sizing: border-box;
}
.reset-button {
    color: #ffff99;
    box-shadow: 0px 4px 0px #ffff99;
}
